{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    
<div class="mt-5">
    <div class=" offset-md-4 col-md-4 ">     
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Acessar sistema</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    <a class="btn btn-link btn-block" href="/accounts/register/">Cadastrar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}